body {
    background-color: rgb(255, 198, 198);
    border: 50px; 
    border-radius: 4px;
    con
    border-color: brown;
}

h1 {
    
}

.div {
    justify-content: flex-start center flex-end;
}

.bi {

}

.semi {

}

.klop {

}

div {

}